{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

    <title>Formula 1 | Drivers</title>
  </head>
  <body>    
    <main>
      {% block content %}
      <section class="container">
        <h2> DRIVERS </h2>
        <table class="styled-table">
          <tbody>
            <tr>
                <th>Driver Name</th>
                <th>Nationality</th>
                <th>Birth Date</th>
                <th>Team</th>
            </tr>
          {% for driver in drivers %}
            <tr>
                <td>{{ driver.name }}</td>
                <td>{{ driver.nationality }}</td>
                <td>{{ driver.birth_date }}</td>
                <td>{{ driver.team.name }}</td>
            </tr>
            {% empty %}
          {% endfor %}
          </tbody>
        </table>
      </section>
      <br><br><br>
      <div>
        {% block pagination %}
          {% include 'includes/pagination.html' %}
        {% endblock %}
      </div>   
      {% endblock %}
    </main>
  </body>
</html>