<br><br><br><br><br><br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

</head>
<footer>
    <div class="brand-section-footer">
        <img src="../static/images/formulalogo.png" alt="Brand Logo" class="brand-logo">
      </div>
    <p>
        Formula 1
    </p>
    <br>
    <div class="social-icons">
        <a href="https://github.com/Aceuuu08" target="_blank" class="icon-link">
            <i class="fab fa-github"></i>
        </a>

        <a href="https://facebook.com/aceuuuuuu" target="_blank" class="icon-link">
            <i class="fab fa-facebook"></i>
        </a>

        <a href="https://instagram/aceuuu08" target="_blank" class="icon-link">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <p>
        &copy; 2003-2023 Formula One World Championship Limited
    </p>
</footer>
</html>